<% unless @response.blank? %>
  <div class="news">
    <% @response[@shift..(@shift+29)].each do |id| %>
      <%= render 'snippet', id: id %>
    <% end %>
  </div>
  <div id="more">
    <button>Load More</button>
  </div>
<% end %>