<% unless @response.blank? %>
  <div id="news">
    <%= render partial: 'snippets', collection: @response, as: :id %>
  </div>
<% end %>

<div id="infinite-scrolling">
  <%= will_paginate @response, style: "color: rgb(246, 246, 239);" %>
</div>