.main-container {
  width: 100%;
}

// Header - mobile
.header {
  width: 100%;
  background-color: rgb(255, 102, 0);
  display: flex;
  flex-direction: row;
  padding: 0.2rem;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 2.4rem;

    a {
      display: block;
      width: 2rem;
      height: 2rem;
    }

    img {
      border: 0.1rem solid white;
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .header-links {
    margin: 0.3rem 0.5rem;
    font-size: 1.2rem;
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a:link, a:visited, a:hover, a:active {
      color: #222222;
      text-decoration: none;
      line-height: 1.2rem;
      padding: 0.2rem 0;
    }

    .heading {
      a:link, a:visited, a:hover, a:active {
        color: black;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5.4rem;
    margin-left: auto;

    a:link, a:visited, a:hover, a:active {
      color: #222222;
      font-size: 1.2rem;
      text-decoration: none;
      line-height: 1.2rem;
      padding-right: 0.4rem;

    }
  }
}

@media only screen and (min-width: 46.9375em) {
  .main-container {
    width: 85%;
    margin: 0 auto;
  }

  // Header - web
  .header {
    .header-links {
      flex-direction: row;
      padding: 0;
      margin: 0;
      line-height: 2rem;
      padding: 0;
      margin: 0;
      font-size: 1.3rem;

      .heading {
        padding: 0 1rem 0 0;

        a:link, a:visited, a:hover, a:active {
          font-size: 1.3rem;
        }
      }
    }

    .login {
       a:link, a:visited, a:hover, a:active {
        text-align: right;
      }
    }
  }
}