
//Mobile - 750px-
////Header
////Snippets
////Footer

//Web - 751px+
////Header
////Snippets
////Footer

.main-container {
  width: 100%;
  background-color: rgb(246, 246, 239);
}

// Header - mobile
.header {
  background-color: rgb(255, 102, 0);
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.2rem;
  margin-bottom: 1rem;

  .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 2.4rem;

    a {
      display: block;
      width: 2rem;
      height: 2rem;
    }

    img {
      border: 0.1rem solid white;
      width: 1.8rem;
      height: 1.8rem;
    }
  }

  .header-links {
    margin: 0.3rem 0.5rem;
    font-size: 1.2rem;
    color: #222222;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a:link, a:visited, a:hover, a:active {
      color: #222222;
      text-decoration: none;
      line-height: 1.2rem;
      padding: 0.2rem 0;
    }

    .heading {
      a:link, a:visited, a:hover, a:active {
        color: black;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }

  .login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 5.4rem;
    margin-left: auto;

    a:link, a:visited, a:hover, a:active {
      color: #222222;
      font-size: 1.2rem;
      text-decoration: none;
      line-height: 1.2rem;
      padding-right: 0.6rem;
      text-align: right;
    }
  }
}

// Snippet - mobile
.news-snippet {
  width: 100%;
  font-size: 1.4rem;
  padding: 0.3rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #828282;
  line-height: 1.8rem;

  a:link, a:hover, a:active {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: #828282;
    text-decoration: none;
  }

  .triangle-symbol {
    font-size: 1.2rem;
    padding: 0.2rem;
  }

  .snippet-top {
    font-size: 1.5rem;

    .snippet-url {
      font-size: 1.1rem;

      a:link, a:hover, a:active {
        color: #828282;
      }
    }
  }

  .snippet-bottom {
    font-size: 1.2rem;

    span {
      display: inline-block;
    }

    a:link, a:hover, a:active {
      color: #828282;
    }
  }
}

// Footer - mobile
.footer {
  margin-top: 1rem;
  text-align: center;
  padding: 1.5rem 1rem;
  font-size: 1.1rem;
  line-height: 1.3rem;
  border-top: 0.2rem solid rgb(255, 102, 0);

  a:link, a:hover, a:active {
    color: black;
    text-decoration: none;
  }

  a:visited {
    color: #828282;
    text-decoration: none;
  }

  .search {
    margin: 2rem 0 0;
    font-size: 1.4rem;
    line-height: 1.4rem;

    input {
      width: 90%;
    }
  }
}

@media only screen and (min-width: 46.9375em) {
  .main-container {
    width: 85%;
    margin: 0.8rem auto;
  }

  // Header - web
  .header {
    padding: 0.2rem;

    .header-links {
      flex-direction: row;
      padding: 0;
      margin: 0;
      line-height: 2rem;
      padding: 0;
      margin: 0;
      font-size: 1.4rem;

      .heading {
        padding: 0 1rem 0 0;

        a:link, a:visited, a:hover, a:active {
          font-size: 1.3rem;
        }
      }
    }

    .login {
       a:link, a:visited, a:hover, a:active {
        text-align: right;
        font-size: 1.4rem;
      }
    }
  }

  // Snippet - web
  .news-snippet {
    font-size: 1.4rem;
    line-height: 1.4rem;

    .triangle-symbol {
      font-size: 1rem;
    }

    .snippet-top {
      font-size: 1.4rem;

      .snippet-url {
        font-size: 1rem;
      }
    }

    .snippet-bottom {
      font-size: 1rem;
    }
  }


  // Footer - web
  .footer {
    .search {
      margin: 2rem 0 0;
      font-size: 1.4rem;
      line-height: 1.4rem;

      input {
        width: auto;
      }
    }
  }
}